@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", system-ui, sans-serif;
  --font-serif: "Instrument Serif", Georgia, serif;
  --font-mono: "DM Mono", monospace;

  --color-bg: #f9f9f7;
  --color-surface: #ffffff;
  --color-border: #e8e8e4;
  --color-muted: #999994;
  --color-ink: #1c1c1a;
  --color-heading: #0a0a08;
}

body {
  background-color: var(--color-bg);
  color: var(--color-ink);
  font-family: var(--font-sans);
}
